* {
    margin: 0;
    padding: 0;
}

button {
    display: block;
    padding: 10px;
    background: rgb(3, 37, 104);
    color: #fff;
    border: 0;
    cursor: pointer;
    margin: 10px auto;
}

.poupup-wraper {
    background:  rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poupup {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    background: #fff;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.poupup a {
    color: #f3efef;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background-color: crimson;
    display: block;
    margin-top: 35px;
}

.poupup-close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}